body {
    font-family: 'Saira Semi Condensed', sans-serif;
    background-color: #000 !important
}

.tick {
    position: relative;
    top: 0.5vh
}

.main {
    height: auto;
    width: 35vw;
    background-color: white;
    margin: auto;
    position: relative;
    top: 15vh;
    padding: 3vh
}

.picture img {
    height: 8vw;
    width: 8vw;
    position: relative;
    top: 1vw
}

.add {
    background-color: #43a047;
    position: relative;
    top: 3vw;
    right: 2vw
}

.name {
    font-size: 20px
}

.details p {
    position: relative;
    top: 1vw
}

.name i {
    color: blue
}

td {
    text-align: center
}

tr {
    border: 2px solid white
}

.table {
    margin-top: 2vw
}

.edit {
    background-color: #43a047;
    width: 90%;
    color: #fff !important
}

@media only screen and (max-width: 425px) {
    .main {
        width: 100vw;
        height: auto
    }

    .picture img {
        height: 40vw;
        width: 40vw;
        position: relative;
        left: 5vw
    }

    .details p {
        position: relative;
        top: 5vw
    }

    .add {
        position: relative;
        top: 8vw
    }
}

@media only screen and (max-height: 725px) {
    .main {
        height: auto
    }
}

.verde{
    color:#43a047;
}

.azul{
    color: blue;
}